<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>
        {{config.[project-name]}}
        {{config.[project-version]}} | Documentation
    </title>
    <script src="bootstrap.bundle.min.js"></script>
    <link href="bootstrap.min.css" rel="stylesheet">
    <link href="{{config.[documentation-hipster].css}}" rel="stylesheet">
    {{#if config.[documentation-hipster].extraCss}}
        <link href="{{config.[documentation-hipster].extraCss}}" rel="stylesheet">
    {{/if}}
    {{#if config.[project-description]}}
        <meta name="description" content="{{config.[project-description]}}">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        {{#if config.[favicon]}}
            <link href="{{config.[favicon]}}" rel="icon">
        {{/if}}
    {{/if}}
</head>

<body>
    <div class="{{className 'container'}}">
        <div class="{{className 'nav'}}">
            <h1 class="{{className 'title'}}">{{config.[project-name]}} {{config.[project-version]}}</h1>
            {{> navList comments}}
        </div>
        <div class="{{className 'main'}}">
            {{> mainList list=comments}}
        </div>
    </div>
    </div>
</body>

</html>
