{{#if this}}
    <h7>Parameters</h7>
    <table class="{{className 'paramsTable'}}">
        <thead>
            <tr>
                <th class="{{className 'paramsParameterHeader'}}">Parameter</th>
                <th class="{{className 'paramsTypeHeader'}}">Type</th>
                <th class="{{className 'paramsDescriptionHeader'}}">Description</th>
            </tr>
        </thead>
        <tbody>
            {{#each this}}
                <tr>
                    <td class="{{className 'paramsParameterData'}}"><code>{{this.name}}</code></td>
                    <td class="{{className 'paramsTypeData'}}"><code>{{> type this.type}}</code></td>
                    <td class="{{className 'paramsDescriptionData'}}">{{> description this.description}}</td>
                </tr>
            {{/each}}
        </tbody>
    </table>
{{/if}}
